<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-购物车</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script>
		$(function () {

		    var index = 0;

			$('.add').click(function () {
			    var n = $(this).next().val();
				$(this).next().val(parseInt(n)+1);
				n = $(this).next().val();
				var price = $(this).parent().parent().prev().html();
				price = price.substring(0,price.length-1);
				var prices = (n * parseFloat(price)).toFixed(2);
				$(this).parent().parent().next().html(prices+'元');
				zongjia();
				cid = $(this).parent().parent().siblings('#hidden_id').val();
				$.get('/cart/update/',{'cid':cid, 'count':n})
            });

			$('.minus').click(function () {
			    var n = parseInt($(this).prev().val())-1;
			    if(n < 1){n=1}
				$(this).prev().val(n);
				n = $(this).prev().val();
				var price = $(this).parent().parent().prev().html();
				price = price.substring(0,price.length-1);
				var prices = (n * parseFloat(price)).toFixed(2);
				$(this).parent().parent().next().html(prices+'元');
				zongjia();
				cid = $(this).parent().parent().siblings('#hidden_id').val();
				$.get('/cart/update/',{'cid':cid, 'count':n})
            });

			$('.cart_list_td').each(function () {
			    $(this).children().eq(0).children().click(zongjia);
			    var danjia = $(this).children().eq(4).html();
			    danjia = danjia.substring(0,danjia.length-1);
			    var count = $(this).find('input').eq(1).val();
			    var xiaoji = parseFloat(danjia)*parseInt(count);
				$(this).children().eq(6).html(xiaoji.toFixed(2)+'元')
            });

			function zongjia(){
			    var zongji = 0;
			    $('.cart_list_td').each(function (){
			        var xiaoji = $(this).children().eq(6).html();
					xiaoji = parseFloat(xiaoji.substring(0,xiaoji.length-1));
					if($(this).children().eq(0).children().is(':checked')){
						zongji += xiaoji
					}
				});
				$('.settlements .col03 em').html(zongji.toFixed(2));
				var all_count = $(':checkbox:not(#select_all)').length;
				var selected_count = $(':checked:not(#select_all)').length;
				$('.total_count em').html(all_count);
				$('.settlements .col03 b').html(selected_count);

				if(all_count != selected_count){
				    $('.settlements .col01 input').prop('checked', false)
				}else{
				    $('.settlements .col01 input').prop('checked', true)
				}
			}

			var $selectall = $('.settlements .col01 input');
			$selectall.click(function () {
			    if($selectall.is(':checked')) {
			   		$('.cart_list_td .col01 input').prop('checked',true);
				}else{
					$('.cart_list_td .col01 input').prop('checked',false);
				}
				zongjia()
            });

			zongjia();

			$('.cart_list_td .col08').click(function () {
				if(confirm('确认删除商品?')){
					$(this).parent('.cart_list_td').remove();
					var cid = $(this).siblings('#hidden_id').val();
					$.get('/cart/delete/',{'cid':cid})
				}
            });

			$('.settlements .col04').click(function () {
			    var str = "/order/?hello=world";
			    $('.cart_list_td').each(function (i) {
			        if($(this).children('.col01').children().is(':checked')){
			        	str += '&cid=' + $(this).children('#hidden_id').val()
					}
                });
				$(this).children('a').prop('href', str)
            })

        })
	</script>
</head>
<body>
	{% include 'temp_header.html'%}

	<div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;购物车</div>
		{% include 'temp_search.html'%}
	</div>

	<div class="total_count">全部商品<em>2</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>

{%for i in carts%}
	<ul class="cart_list_td clearfix">

		<li class="col01"><input type="checkbox" name="{{i.good.gtitle}}" checked></li>
		<li class="col02"><img src="/static/{{i.good.gpic.name}}"></li>
		<li class="col03">{{i.good.gtitle}}<br><em>{{i.good.gprice}}元/{{i.good.gunit}}</em></li>
		<li class="col04">{{i.good.gunit}}</li>
		<li class="col05">{{i.good.gprice}}元</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl" value="{{i.count}}" readonly="readonly">
				<a href="javascript:;" class="minus fl">-</a>
			</div>
		</li>
		<li class="col07">{{i.good.gprice}}元</li>
		<li class="col08"><a href="javascript:;">删除</a></li>
		<input type="hidden" id="hidden_id" value="{{i.id}}">
	</ul>

{%endfor%}

	<ul class="settlements">
		<li class="col01"><input type="checkbox" id='select_all' name="" checked=""></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>42.60</em><br>共计<b>2</b>件商品</li>
		<li class="col04"><a href="/order/">去结算</a></li>
	</ul>

	{% include 'temp_footer.html'%}

</body>
</html>