
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>天天生鲜-商品详情</title>
        <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
        <script>
                $(function () {
                    var $num = $('.num_show');

                        $('.add').click(function () {
                                var n = $num.val();
                                $num.val(parseInt(n) + 1);
                                cal();

            });

                        $('.minus').click(function () {
                                var n = $num.val();
                                $num.val(parseInt(n) - 1);
                                cal()
            });

                        function cal() {
                                var n = parseInt($num.val());
                                var price = parseFloat('{{good.gprice}}');
                                var prices = (n * price).toFixed(2);
                                $('.total em').html(prices+'元');
                                $('#add_cart').prop({'href':'/cart/add/?gid={{good.id}}&count=' + n})
            }

                        $('.add_cart').click(cal)

        })
        </script>


</head>
<body>
	{% include 'temp_header.html'%}

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		{% include 'temp_cart.html'%}
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="#" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	 <div class="goods_detail_con clearfix">
                <div class="goods_detail_pic fl"><img src="/static/{{good.gpic}}"></div>

                <div class="goods_detail_list fr">
                        <h3>{{good.gtitle}}</h3>
                        <p>{{good.gjianjie}}</p>
                        <div class="prize_bar">
                                <span class="show_pirze">¥<em>{{good.gprice}}</em></span>
                                <span class="show_unit">单  位：{{good.gunit}}</span>
                        </div>
                        <div class="goods_num clearfix">
                                <div class="num_name fl">数 量：</div>
                                <div class="num_add fl">
                                        <input type="text" class="num_show fl" value="1">
                                        <a href="javascript:;" class="add fr">+</a>
                                        <a href="javascript:;" class="minus fr">-</a>
                                </div>
                        </div>
                        <div class="total">总价：<em>{{good.gprice}}元</em></div>
                        <div class="operate_btn">
                                <a href="javascript:;" class="buy_btn">立即购买</a>
                                <a href="/cart/add/?gid={{good.id}}&count=1" class="add_cart" id="add_cart">加入购物车</a>
                        </div>
                </div>
        </div>

        <div class="main_wrap clearfix">


	<div class="main_wrap clearfix">
		{% include 'temp_recommend.html'%}

		         <div class="r_wrap fr clearfix">
                        <ul class="detail_tab clearfix">
                                <li class="active">商品介绍</li>
                                <li>评论</li>
                        </ul>

                        <div class="tab_content">
                                <dl>
                                        <dt>商品详情：</dt>
                                        <dd>{{good.gcontent|safe}}</dd>
                                </dl>
                        </div>

                </div>
        </div>

        <div class="add_jump"></div>


	{% include 'temp_footer.html'%}
	
</body>
</html>